body { background: #528bb8; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 41px; display: flex; }
.block-session-0 { color: #56adf2; font-size: 15px; margin-bottom: 5px; }
.block-cache-1 { color: #23044; font-size: 15px; margin-bottom: 5px; }
.block-router-2 { color: #23956b; font-size: 16px; margin-bottom: 5px; }
.block-cluster-3 { color: #e95f25; font-size: 21px; margin-bottom: 5px; }
.block-cart-4 { color: #722fbc; font-size: 18px; margin-bottom: 5px; }
.block-router-5 { color: #74bf6; font-size: 14px; margin-bottom: 5px; }